{% extends "Mpapp/base_generic.html" %}
{% load static %}
{% load zip_filter %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'Mpapp/styles.css' %}">
</head>
  <h2>Jukebox</h2>

  <!-- Add this search form to your jukebox.html template -->
  <form id="searchForm">
    <input type="text" id="searchInput" placeholder="Search songs by producer or name">
    <button type="submit">Search</button>
  </form>

  <div class="song-list">
    <h2>All songs</h2>
    {% for song in songs %}
    <div class="song" data-id="{{ song.id }}">
        <img src="{{ song.image_url }}" alt="{{ song.title }}">
        <div class="song-info">
          <h3>{{ song.title }}</h3>
          <p>{{ song.artist }}</p>
         <a href="{{ song.spotify_url }}" class="button play-button" target="_blank">
          <span class="play-icon">&#9658;</span> <!-- This is a simple play icon -->
        </a>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="playlist">
    <h2>Playlists</h2>
    {% for playlist in playlists %}
      <div class="playlist-item">
        <h3>{{ playlist.name }}</h3>
        <p>{{ playlist.owner }}</p>
        <p>Songs:</p>
        <ul>
          {% for song in playlist.songs.all %}
            <li>{{ song.title }} by {{ song.artist }}</li>
          {% endfor %}
        </ul>
        <button class="update-playlist-button" data-id="{{ playlist.id }}">Update Playlist</button>
      </div>
    {% endfor %}
  </div>

  <button id="create-playlist" class="playlist-button">Add Playlist</button>  <!-- Add Playlist button -->

  <button id="get-playlists" class="playlist-button">Get Playlists</button>

  <!-- Add this modal to your jukebox.html template -->
  <div id="newPlaylistModal" class="modal" style="display: none;">
    <div class="modal-content">
      <form id="newPlaylistForm">
        <label for="songs">Selected Songs</label>
        <ul id="selectedSongs">
        </ul>

        <div id="playlistNameSection" style="display: none;">
          <label for="playlistName">Playlist Name</label>
          <input type="text" id="playlistName" name="playlistName" required>
          <button type="submit">Create Playlist</button>
          <button type="button" id="cancelPlaylist">Cancel</button> <!-- Cancel button -->
        </div>
      </form>
    </div>
  </div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var selectedSongs = [];
  var songElements = document.querySelectorAll('.song');

  function selectSong(songElement) {
    var songId = songElement.getAttribute('data-id');
    if (selectedSongs.includes(songId)) {
      selectedSongs = selectedSongs.filter(id => id !== songId);
      var songListItem = document.querySelector('#selectedSongs li[data-id="' + songId + '"]');
      songListItem.remove();
      songElement.style.backgroundColor = '';
    } else {
      selectedSongs.push(songId);
      var songTitle = songElement.querySelector('.song-info h3').textContent;
      document.getElementById('selectedSongs').innerHTML += '<li data-id="' + songId + '">' + songTitle + '</li>';
      songElement.style.backgroundColor = 'blue';
    }
  }

  document.getElementById('searchForm').addEventListener('submit', function(event) {
    event.preventDefault();  // Prevent the form from being submitted normally
    var query = document.getElementById('searchInput').value;
    fetch('/search_songs/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({
            query: query
        })
    }).then(function(response) {
        if (response.ok) {
            response.json().then(function(songs) {
                // Update the song list with the search results
                updateSongList(songs);
            });
        } else {
            console.log('Failed to search songs');
        }
    }).catch(function(error) {
        console.log('Error during fetch:', error);
    });
});

  document.getElementById('create-playlist').addEventListener('click', function() {
    document.getElementById('newPlaylistModal').style.display = 'block';
    songElements.forEach(function(songElement) {
      songElement.addEventListener('click', function() {
        selectSong(this);
        document.getElementById('playlistNameSection').style.display = 'block';
      });
    });
  });

   function updateSongList(songs) {
    // Get the song list element
    var songList = document.querySelector('.song-list');

    // Clear the current song list
    songList.innerHTML = '';

    // Add each song to the song list
    songs.forEach(function(song) {
        console.log(song);  // Print out the song data

        var songElement = document.createElement('div');
        songElement.className = 'song';
        songElement.innerHTML = `
            <img src="${song.image_url}" alt="${song.title}">
            <div class="song-info">
              <h3>${song.title}</h3>
              <p>${song.artist}</p>
             <a href="${song.spotify_url}" class="button play-button" target="_blank">
              <span class="play-icon">&#9658;</span> <!-- This is a simple play icon -->
            </a>
            </div>
        `;
        songList.appendChild(songElement);
    });
}

  document.getElementById('newPlaylistForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var playlistName = document.getElementById('playlistName').value;
    fetch('/create_playlist/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({
        song_ids: selectedSongs,
        playlist_name: playlistName
      })
    }).then(function(response) {
      if (response.ok) {
        document.getElementById('newPlaylistModal').style.display = 'none';
        location.reload();
      } else {
        response.text().then(function(text) {
          console.log('Failed to create playlist:', text);
        });
        alert('Failed to create playlist');
      }
    }).catch(function(error) {
      console.log('Error during fetch:', error);
    });
  });

  document.getElementById('cancelPlaylist').addEventListener('click', function() {
    document.getElementById('newPlaylistModal').style.display = 'none';
  });

  document.getElementById('get-playlists').addEventListener('click', function() {
    window.location.href = '/spotify_request/';
  });

  var updateButtons = document.querySelectorAll('.update-playlist-button');
  updateButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      var playlistId = this.getAttribute('data-id');
      window.location.href = '/update_playlist/' + playlistId + '/';
    });
  });
});
</script>
{% endblock %}
