{% extends "Mpapp/base_generic.html" %}
{% load static %}
{% load zip_filter %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'Mpapp/styles.css' %}">
</head>
  <h2>Jukebox</h2>

  <div class="song-list">
    <h2>All songs</h2>
    {% for song in songs %}
    <div class="song">
        <img src="{{ song.image_url }}" alt="{{ song.title }}">
        <div class="song-info">
          <h3>{{ song.title }}</h3>
          <p>{{ song.artist }}</p>
         <a href="{{ song.spotify_url }}" class="button play-button" target="_blank">
          <span class="play-icon">&#9658;</span> <!-- This is a simple play icon -->
        </a>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="playlist">
    <h2>Playlists</h2>
    {% for playlist in playlists %}
      <div class="playlist-item">
        <h3>{{ playlist.name }}</h3>
        <p>{{ playlist.owner }}</p>
        <p>Songs:</p>
        <ul>
          {% for song in playlist.songs.all %}
            <li>{{ song.title }} by {{ song.artist }}</li>
          {% endfor %}
        </ul>
        <button class="update-playlist-button" data-id="{{ playlist.id }}">Update Playlist</button>
      </div>
    {% endfor %}
  </div>

  <button id="create-playlist" class="playlist-button">Add Playlist</button>  <!-- Add Playlist button -->

  <button id="get-playlists" class="playlist-button">Get Playlists</button>

  <script>
    document.getElementById('get-playlists').addEventListener('click', function() {
      window.location.href = '/spotify_request';
    });

    var updateButtons = document.querySelectorAll('.update-playlist-button');
    updateButtons.forEach(function(button) {
      button.addEventListener('click', function() {
        var id = this.getAttribute('data-id');
        window.location.href = '/update_playlist/' + id;
      });
    });

    document.getElementById('create-playlist').addEventListener('click', function() {
      window.location.href = '/create_playlist';
    });
  </script>
{% endblock %}
